@import "../../../theme/variables.scss";

.font-nav {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    color: $black-metal;
}

h1 {
    margin: 0;
}

a {
    margin-left: 1rem;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}