@import "../../../theme/variables.scss";

.pokemon-list-item {
    height: 8rem;
    border-radius: 1pc;
    width: 90%;
    margin: 5%;
    background-color: lightcoral;
    padding: 0.5rem;

    p {
        margin: 0 !important;
        padding: 0 !important;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-icon {
            font-size: 1.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }

    img {
        width: 27%;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        &__titles {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;

            div {
                display: flex;
            }
        }
    }
}

.types-container {
    p {
        padding: 0.1rem 1rem !important;
        border-radius: 2pc !important;
        margin-right: 0.5rem !important;
    }
}

.normal {
    background-color: $normal;
}

.fighting {
    background-color: $fighting;
}

.flying {
    background-color: $flying;
}

.poison {
    background-color: $poison;
}

.ground {
    background-color: $ground;
}

.rock {
    background-color: $rock;
}

.bug {
    background-color: $bug;
}

.ghost {
    background-color: $ghost;
}

.steel {
    background-color: $steel;
}

.fire {
    background-color: $fire;
}

.water {
    background-color: $water;
}

.grass {
    background-color: $grass;
}

.electric {
    background-color: $electric;
}

.psychic {
    background-color: $psychic;
}

.ice {
    background-color: $ice;
}

.dragon {
    background-color: $dragon;
}

.fairy {
    background-color: $fairy;
}

.dark {
    background-color: $dark;
}