@import "../../../theme/variables.scss";


ion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-img-pkm {
    height: 3vh;
    width: 3vh;
    filter: grayscale(100%) opacity(0.5) contrast(0);
    -webkit-filter: grayscale(100%) opacity(0.8) contrast(0);
    margin-left: 1rem;
}

a {
    color: $black-metal;
}

.nav-icon {
    padding-right: 0.5rem;
}

.font-nav {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}