$metal-color : #616161;
$metal-color-light : #E4E4E4;
$black-metal : #222222;
$page-color : white;
$danger-color : red;

//* types
$normal : #BCBCAF;
$fighting : #A75644;
$flying : #79A4FF;
$poison : #AB5EA2;
$ground : #ECCB56;
$rock : #CDBC72;
$bug : #C3D21E;
$ghost : #7975D7;
$steel : #FDEDFF;
$fire : #FA5642;
$water : #56ADFF;
$grass : #8BD852;
$electric : #FEE63C;
$psychic : #FA65B4;
$ice : #96F2FF;
$dragon : #8A75FF;
$dark : #8C6754;
$fairy : #F9ADFF;