$metal-color : #616161;
$metal-color-light : #E4E4E4;
$black-metal : #222222;
$page-color : white;

//* types
$normal : #C5BEB5;
$fighting : #7A331B;
$flying : #5D74D3;
$poison : #924492;
$ground : #CEAD52;
$rock : #A0853F;
$bug : #88960C;
$ghost : #6061B4;
$steel : #908DA0;
$fire : #C42200;
$water : #0E0E0E;
$grass : #225C03;
$electric : #E8950A;
$psychic : #E3457B;
$ice : #6DD2F4;
$dragon : #7560E0;
$dark : #3E2D23;
$fairy : #E28FE1;