@import "../../../theme/variables.scss";

.nav-page-flex {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $page-color;

    a {
        color: $black-metal;
    }

    .nav-page-name {
        padding-left: 1rem;
        display: inline;
        z-index: 1;
    }

    .nav-itens-flex {
        display: flex;
        align-items: center;
    }

    ion-icon {
        width: 3vh;
        height: 3vh;
        cursor: pointer;
    }
}

.navbar-search-bar {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}