<ion-header [translucent]="true" class="nav-page-flex">
    <div class="nav-itens-flex">
      <ion-icon name="menu-sharp" (click)="openSideMenu()"></ion-icon>
      <p class="nav-page-name">{{ pageName }}</p>
    </div>
    <div class="nav-itens-flex">
      <ion-icon name="options-outline" class="nav-icon-margin" (click)="openFilterMenu()"></ion-icon>
      <ion-icon name="search-sharp" (click)="searchBarShow()"></ion-icon>
    </div>

    <app-search-bar class="navbar-search-bar" *ngIf="pageStore.isSearchBarShow"></app-search-bar>
</ion-header>