<app-navbar pageName="Pokedéx"></app-navbar>

<app-side-menu></app-side-menu>

<app-filter-menu></app-filter-menu>

<ion-content [fullscreen]="true">
    <div *ngIf="pokedex.filteredPokemon.length > 0">
        <div *ngFor="let pokemon of pokedex.filteredPokemon">
            <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
        </div>
    </div>
    <div *ngIf="pokedex.filteredPokemon.length === 0">
        <div *ngFor="let pokemon of pokedex.showListPokemon">
            <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
        </div>
    </div>
        
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePokemon($event)" *ngIf="pokedex.filteredPokemon.length === 0">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Carregando mais pokémons...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>