<app-navbar btnMenu ="true" pageName="Pokedéx" btnFilter="true" btnSearch="true"></app-navbar>

<app-side-menu></app-side-menu>

<app-filter-menu></app-filter-menu>

<ion-content [fullscreen]="true">
    <div *ngFor="let pokemon of pokedex.showListPokemon">
        <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePokemon($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Carregando mais pokémons...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>